<section id="bundle-products--{{ section.id }}" class="bundle-products">
    <div class="page-width"> 
      {% if section.settings.title %}
        <h2 class="bundle-products__title">{{ section.settings.title }}</h2>
      {% endif %}
      <div class="bundle-products__mobile">
        {% if section.settings.related_products != blank %}
          {% for product in section.settings.related_products %}
            <figure class="bundle-products__mobile__item-figure">
              <img class="bundle-products__mobile__item-img" src="{{ product.featured_image | img_url: '200x200' }}" alt="{{ product.title }}">
            </figure>
          {% endfor %}
          <span class="bundle-products__mobile__toggler button btn add-to-cart btn--full">{{ section.settings.text-btn }}</span>
        {% endif %}
      </div>
      <div class="bundle-products__form--wrapper">
        <form id="bundle-form--{{ section.id }}" class="bundle-products__form">
          <div class="bundle-products__list">
            {% if section.settings.related_products != blank %}
              {% for product in section.settings.related_products %}
                {% assign product_handle = product.handle %}
                  {% assign variant = product.selected_or_first_available_variant %}
                  <div class="bundle-products__item">
                      <input type="checkbox"
                          checked
                          name='{{ variant.id }}'
                          id='{{ variant.id }}'
                          value='{{ variant.id }}' 
                          data-variant-id='{{ variant.id }}'
                          data-product-id='{{ product.id }}'
                          data-price='{{ variant.price }}'
                          data-compare-price='{{ variant.compare_at_price }}'
                          quantity='1'
                          class="bundle-products__item-checkbox">
                      <label for='{{ variant.id }}' class="bundle-products__label">
                      <img class="bundle-products__item-img" src="{{ product.featured_image | img_url: '400x400' }}" alt="{{ product.title }}">
                      <h3 class="bundle-products__item-title">{{ product.title }}</h3>
                      <p class="bundle-products__item-price" data-compare-price="{% if variant.compare_at_price > variant.price %}{{ variant.compare_at_price | money }}{% endif %}">
                        <span class="original-price">{{ variant.price | money }}</span>
                      </p>
                    </label>
                  </div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="bundle-products__price">
            <div class="bundle-products__price-header">
              <span class="bundle-products__price-label">You save: <span id="total-savings" class="bundle-products__price-saved">0%</span></span>
            </div>
            <div class="bundle-products__price-footer">
              <span class="bundle-products__price-name">Total Price:</span>
              <div>
                <span id="total-price-discounted" class="bundle-products__price-old">0.00</span>
                <span id="total-price" class="bundle-products__price-actual">0.00</span>
              </div>
            </div>
            <button id="add-bundle-to-cart" data-variant-id="" type="button" class="button btn btn--full add-to-cart js-add-to-cart">Add to cart</button>
          </div> 
        </form>
      </div>
    </div>
  </section>
  
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var bodyTag = document.querySelector('body');
    var bundleProducts = document.getElementById('bundle-products--{{ section.id }}');
    var form = bundleProducts.querySelector('#bundle-form--{{ section.id }}');
    var formSubmit = form.querySelector('#add-bundle-to-cart');
    var checkboxes = form.querySelectorAll(".bundle-products__item-checkbox");
    var totalPriceElem = form.querySelector("#total-price");
    var totalPriceDiscountedElem = form.querySelector("#total-price-discounted");
    var totalSavingsElem = form.querySelector("#total-savings");
    var toggleForm = bundleProducts.querySelector('.bundle-products__mobile__toggler');
    var formWrapper = bundleProducts.querySelector('.bundle-products__form--wrapper');

    function getCurrencySymbol() {
      const currencyCode = Shopify.currency.active;

      const supportedCurrencies = [
        "USD", // United States Dollar
        "EUR", // Euro
        "GBP", // British Pound Sterling
        "JPY", // Japanese Yen
        "CNY", // Chinese Yuan
        "UAH", // Ukrainian Hryvnia
        "AUD", // Australian Dollar
        "CAD", // Canadian Dollar
        "CHF", // Swiss Franc
        "RUB", // Russian Ruble
        "INR", // Indian Rupee
        "BRL", // Brazilian Real
        "ZAR", // South African Rand
        "SGD", // Singapore Dollar
        "KRW", // South Korean Won
        "MXN", // Mexican Peso
      ];

      if (!supportedCurrencies.includes(currencyCode)) {
        throw new Error(`Unsupported currency code: ${currencyCode}`);
      }

      return new Intl.NumberFormat(undefined, { style: "currency", currency: currencyCode, currencyDisplay: "symbol" })
              .formatToParts(0)
              .find(part => part.type === "currency").value;
    }
          
    function updateTotal() {
      var totalPrice = 0;
      var totalPriceDiscounted = 0;
      var checkedCount = 0;

      checkboxes.forEach(function(checkbox) {
        if (checkbox.checked) {
          checkedCount++;
          var productPrice = parseFloat(checkbox.getAttribute('data-price'));
          var productPriceSale = parseFloat(checkbox.getAttribute('data-compare-price'));
          if (!isNaN(productPrice) && !isNaN(productPriceSale)) {
            totalPrice += productPrice / 100;
            totalPriceDiscounted += productPriceSale / 100;
          } else {
            console.error("Invalid price data for product:", checkbox);
          }
        }
      });

      var discount = 0;
      {% if section.blocks.size > 0 %}
      {% for item in section.blocks %}
      {% if forloop.index == 1 %}
      if (checkedCount === {{ item.settings.quantity }}) {
        discount = {{ item.settings.percent }};
      } {% else %}
        else if (checkedCount === {{ item.settings.quantity }}) {
          discount = {{ item.settings.percent }};
        }
        {% endif %}
      {% endfor %}
      {% endif %}

      var discountedPrice = totalPrice * (1 - discount / 100);
      
      checkboxes.forEach(function(checkbox) {
        const checkboxParentEl = checkbox.closest('.bundle-products__item');
        const relPriceEl = checkboxParentEl.querySelector('.bundle-products__item-price');
        const currencySymbol = getCurrencySymbol();
        const currentPrice = relPriceEl.querySelector('.original-price').innerHTML.replace(currencySymbol, '').trim();
        const priceWithDiscount = (parseFloat(currentPrice) * (1 - discount / 100)).toFixed(2);

        if (parseFloat(currentPrice) > parseFloat(priceWithDiscount)) {
          relPriceEl.setAttribute('data-compare-price', getCurrencySymbol() + priceWithDiscount);
        } else {
          relPriceEl.removeAttribute('data-compare-price');
        }
      });

      totalPriceElem.textContent = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'EUR', minimumFractionDigits: 2 }).format(discountedPrice);
      totalPriceDiscountedElem.textContent = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'EUR', minimumFractionDigits: 2 }).format(totalPrice);
      totalSavingsElem.textContent = discount + "%";

      if (discountedPrice === 0) {
        formSubmit.setAttribute('disabled', 'disabled');
      } else {
        formSubmit.removeAttribute('disabled');
      }
    }

    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener("change", function(event) {
        event.stopPropagation();
        updateTotal();
      });
    });

    updateTotal();

    formSubmit.addEventListener('click', function(event) {
      event.preventDefault();
      var productsToCart = [];
      checkboxes.forEach(function(checkbox) {
        if (checkbox.checked) {
          productsToCart.push(parseInt(checkbox.getAttribute('data-variant-id')));
        }
      });
      formSubmit.setAttribute('data-variant-id', JSON.stringify(productsToCart));
    });

    toggleForm.addEventListener('click', function(event) {
      event.preventDefault();
      formWrapper.style.display = 'flex';
      setTimeout(function() {
        formWrapper.classList.add('m-visible');
      }, 300);
      bodyTag.classList.add('modal-open__mobile');
    });

    formWrapper.addEventListener('click', function(e) {
      if (e.target === this && this.classList.contains('m-visible')) {
        e.stopPropagation();
        this.classList.remove('m-visible');
        setTimeout(function() {
          formWrapper.style.display = 'none';
        }, 300);
        bodyTag.classList.remove('modal-open__mobile');
      }
    });
  });
</script>
  
  
  {% schema %}
  {
    "name": "Bundle Products",
    "blocks": [
      {
        "name": "Discount Amount",
        "type": "discount_amount",
        "settings": [
          {
            "type": "text",
            "id": "quantity",
            "label": "Quantity"
          },
          {
            "type": "number",
            "id": "percent",
            "label": "Percent"
          }
        ]
      }
    ],
    "settings": [
      {
          "type": "text",
          "id": "title",
          "label": "Title"
      },
      {
        "type": "product_list",
        "id": "related_products",
        "label": "Related Products"
      },
      {
          "type": "text",
          "id": "text-btn",
          "label": "Button Text",
          "default": "Kaufen Sie alles zusammen und sparen Sie!"
      }
    ],
    "presets": [
      {
        "name": "Bundle Products"
      }
    ]
  }
  {% endschema %}
  